@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=MuseoModerno:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=MuseoModerno:wght@500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  cursor: none;
}

.cursor-dot {
  width: 15px;
  height: 15px;
  background-color: #ea552b;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #000000e8;
}

::-webkit-scrollbar-thumb {
  background-color: #fe9a609b;
  border-radius: 1rem;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fe9b60;
}

#main {
  overflow-x: hidden;

}

@keyframes growingHorizontalLine {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.parentDiv {
  position: absolute;
  width: 100%;
  padding: 1rem 0;
  background-color: black;
  color: white;
  z-index: 100;
}

.nav {
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0 5px;
}

.navlinks {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navlinks:hover {
  color: orange;
}



#article {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: relative;
}


#article .home {
  width: 100vw;
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .overlay {
  position: absolute;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 100%);
}

.home .overlay h1 {
  width: 70%;
  margin: auto;
  position: absolute;
  bottom: 1rem;
  left: -10px;
  line-height: 57px;
  right: 0;
  z-index: 10;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

#article .home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#article .right-container {
  padding: 2em 0;
  width: 14em;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .33em;
  position: sticky;
  top: 0;
  right: 0;
  flex-grow: 0;
  flex-shrink: 0;
}


/* fjahsldfghlasjkdhgflakHDSFLKAJHSDFLKJASHDFLKJAHSDFLKJH */
#article .subject_list {
  padding: 2em 0;
  width: 20em;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .33em;
  position: sticky;
  top: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 15rem;
  overflow-y: auto;

}

#article .subject_list .item {
  width: 80%;
  height: 2em;
  padding: 2em 0 2.5em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: .33em;
}

#article .subject_list .item.active {
  background: #6962AD;
}

#article .subject_list .item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.19rem;
}

#article .subject_list .item.sumary {
  margin: 0 0 2em 0;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#article .subject_list .item.sumary .title {
  font-size: 1.3rem;
  font-weight: 600;
}

#article .subject_list .item.sumary hr {
  background: red;
  height: 1px;
  animation: growingHorizontalLine .5s ease-out forwards;
}

#article .subject_sections {
  background-color: rgb(255, 255, 255);
  padding: 2em;
  width: calc(100% - 15em);
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 10rem;
  padding-bottom: 15rem;
  max-width: 50vw;
  position: relative;
  z-index: 10;
}

#article>.content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  min-height: 100vh;
  /* height: 100vh; */
}

/* xdvgdfgsdfgsadfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsfgsdfgs */
#article .subject_sections .subject_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#article>.content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 2rem;
}


#article .subject_sections .subject_section .title_wrapper {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#article .subject_sections .subject_section .title_wrapper .title {
  font-size: 1.5rem;
}

#article .subject_sections .subject_section .content {
  display: flex;
  flex-direction: column;
}

.subject_sections p {
  text-align: justify;
}


#article .subject_sections .subject_section .content .content__paragraph {
  width: 100%;
  text-align: justify;
}

#article .subject_sections .subject_section .content .content__paragraph:first-letter {
  text-decoration: uppercase;
  font-size: 1rem;
  margin-left: 1rem;
}

@media (max-width: 720px) {
  #article>.content {
    flex-direction: column;
  }

  #article .subject_list {
    width: 100%;
    height: fit-content;
    min-height: 0em;
    position: relative;
  }

  #article .subject_sections {
    width: 100%;
  }
}

.social-buttons {
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -50px;
}

.social-buttons__button {
  margin: 5px;
}

.social-button {
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.social-icons {
  width: 100%;
}

.social-button__inner {
  font-size: 2.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
  text-decoration: none;
}

.social-button:focus::after,
.social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--codepen {
  color: #212121;
}

.social-button--codepen::after {
  background: #212121;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}


/************************************** Sidebar Menu ***************************************/

.sidebar-menu {
  border-bottom: 1px solid #eee;
  /* height: 1rem; */
}

#meny {
  text-align: center;
  background-color: #101010;
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  top: 0;
  z-index: 200;
  transition: 0.5s;
}

#meny.open {
  transform: translateX(0);
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  color: #000;
  width: 100%;
  height: 80%;
  overflow: hidden;
  z-index: 9999;
}

.main-container h1 {
  position: absolute;
  top: 6%;
  left: 36%;
  color: #fff;
  font-size: 50px;
}

.open-modal {
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: 9;
  width: 50px;
  height: 50px;
}

.form-img {
  position: absolute;
  bottom: 50%;
  left: 10px;
  z-index: 1;
  width: 5%;
}

.main-container input {
  position: absolute;
  top: 150px;
  left: 80px;
  height: 10%;
  width: 40%;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
}

.main-container input:focus {
  outline: none;
}

.main-container hr {
  position: absolute;
  top: 325px;
  left: 120px;
  height: 2px;
  width: 40%;
  background-color: wheat;
}

.main-container textarea {
  position: absolute;
  top: 210px;
  left: 80px;
  height: 20%;
  width: 40%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
}

.main-container h3,
.main-container h4,
.main-container h5 {
  color: white;
  text-align: start;
}

.main-container h3 {
  font-size: 25px;
}

.main-container h4 {
  font-size: 14px;
}

.main-container h5 {
  font-size: 12px;
}


.btnn {
  position: absolute;
  top: 360px;
  left: 120px;
  background: #ffffff;
  box-shadow: 4px 4px #ffe00b, 9px 9px #151515;
  color: #151515;
  text-transform: lowercase;
  border: solid 2px #151515;
  text-decoration: none;
  padding: 18px 50px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* cursor: pointer; */
  cursor: none;
  overflow: hidden;
  transition-delay: 0s !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
  font-family: freight-sans-pro, sans-serif;
}

.btnn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #151515;
  z-index: -1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btnn:hover::before {
  width: 100%;
  left: 0;
  right: unset;
}

.btnn:hover {
  box-shadow: 0 0 #ffe00b, 0 0 #151515;
  color: white;
}


.side-texts {
  position: absolute;
  top: 130px;
  right: 10px;
  width: 40%;
  font-family: "Poppins";
}

.side-texts h4 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
}

.Contactcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 2rem;
}

.Contactcontainer h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}


/* sdkfjahlsdfhalkdshf */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed {
  background: rgb(0, 0, 0);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px 2px 55px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
  padding-left: 4rem;
}

.footer-distributed .footer-left img {
  width: 40%;
  margin-bottom: -2rem;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 30%;
  padding-left: 5rem;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 25%;
  padding-left: 10rem;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


.main {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6;
  display: flex;
  gap: 1.2rem;
  justify-content: start;
  align-items: center;
  margin-top: 0.7rem;
}

.nav-item {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.nav-links {
  color: rgba(255, 51, 51, 0.8);
  background-color: rgb(21 22 23);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  &:hover {
    background-color: rgba(255, 51, 51, 0.8);
    color: #eee !important;
    transform: scaleX(1.1) scaleY(1.1);
  }
}

.credits {
  position: absolute;
  right: 0;
  bottom: 0;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 129, 129);
    font-family: Degular, sans-serif;
    text-decoration: none;
  }
}

.right-footer-links {
  padding-left: 0;
  list-style: none
}

.right-footer-links li {
  display: block;
  margin: 0.5rem 0 0.5rem 0;
}

.right-footer-links a {
  color: #ffffff;
  font-weight: 200;
  font-family: 'poppins';
  text-decoration: none;
  margin-left: -5px;
}

.right-footer-links p {
  color: #ffffff;
  font-weight: 200;
  font-family: 'poppins';
  text-decoration: none;
  margin-left: -5px;
}

.right-footer-links a:active,
.right-footer-links a:focus,
.right-footer-links a:hover {
  color: rgb(255, 127, 47);
  text-decoration: none;
}

.right-footer-links p:active,
.right-footer-links p:focus,
.right-footer-links p:hover {
  color: rgb(255, 127, 47);
  text-decoration: none;
}

.right-footer-links.inline li {
  display: inline-block
}



















.right-part {
  padding: 2em 0;
  width: 22em;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  margin-right: -1rem;
  top: 0;
  right: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 15rem;
  background-color: #f9f9f9;
}

.right-part .blog-card {
  width: 80%;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.right-part .blog-card img {
  width: 80%;
  /* height: 100%; */
  object-fit: contain;
}

.right-part .blog-title {
  margin-left: -0.6rem;
  margin-top: -4rem;
  width: 75%;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  text-align: start;
  text-decoration: none;
}

.right-part .blog-title a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.right-part .blog-title a:hover {
  color: #ff6f00;
}

