body {
	background: #EEF4FF;
	margin: 0;
	font-family: sans-serif;
	color: #333;
}

.spacer {
	width: 100%;
	height: 50vh;
	background: #ddd;
}


.gallery h1 {
	font-size: clamp(2em, 4vw, 6em);
}

.gallery p {
	font-size: clamp(1.4em, 2.5vw, 3.5em);
	line-height: 1.4;
}


.gallery {
	display: flex;
}

.left {
	width: 50%;
}

.right {
	height: 100vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.desktopContent {
	margin: auto;
	width: 80%;
}

.desktopContentSection {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.desktopPhotos {
	width: 40vw;
	height: 30vw;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
	position: absolute;
	top: 3rem;
	left: 2rem;
	width: 90%;
	height: 90%;
	border-radius: 20px;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
}

.desktopPhoto img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}




/* small screen / mobile layout */
.mobileContent {
	display: none;
	width: 80vw;
}

.mobilePhoto {
	width: 80vw;
	height: 80vw;
	margin-top: 5em;
	border-radius: 6vw;
}






/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
	.left {
		display: none;
	}

	.right {
		height: auto;
		width: 100%;
		align-items: center;
	}

	.desktopPhotos {
		display: none;
	}

	.mobileContent {
		display: block;
	}


}